{
  "extends": "@istanbuljs/nyc-config-typescript",
  "report-dir": ".coverage",
  "include": [
    "src/api",
    "src/app"
  ],
  "reporter": [
    "text",
    "text-summary",
    "json-summary",
    "html",
    "lcov"
  ]
}
